ul.num{
    
    list-style-type:decimal;
    padding-left: 400px;
    padding-right: 200px;
    line-height: 2;
    font-size:large;
    list-style-position: inside;
  
}

ul.dot{

list-style-type:circle;
padding-left: 400px;
padding-right: 200px;
line-height: 2;
font-size:large;
list-style-position: inside;

}

p,h1{

padding-left: 400px;
padding-right: 200px;
line-height: 2;
font-size:large;
}


.data img{
float:left
}

.row{
width:100%;
margin-top: auto;
display:flex;
justify-content:space-evenly;

}
.course-col{
flex-basis: 25%;
border-radius: 10px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;

}
@media (max-width:700px){
.course-col{
    padding:2px,1px;
}
.course-col img{
    width:20%;
    display: block;
    height: 10%;
    }
.center{
    height: 300px;
    width: 200px;
}
.hello
{
    padding-left: 10px;
}
}

.course-col img{
width:100%;
display: block;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.hello
{
    padding-left: 450px;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', cursive;
}
.header{
    
    width:100%;
    background-color:rgb(177, 181, 183);
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 12%;

}

.abc a{
  text-decoration: none;
  font-family: "Sofia", sans-serif;
  font-style:italic
}
nav{
    display:flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}
nav img{
    width:75px;
    height: 60px;
    
}
.name {
text-align: center;
padding-top: 5%;
}


.nav-links{
    flex:1;
    text-align:right;
    margin-top: 1%;
}

.nav-links ul li{
    list-style-type: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: rgb(217, 171, 171);
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}




nav .fa{
    display:none;
}
